.blue-button {
  border: 2px solid rgb(0, 26, 255);
  padding: 10px 40px;
  background-color: rgb(101, 116, 250);
  color: rgb(233, 235, 252);
  font-size: large;
  cursor: pointer;
}
.blue-button:hover {
  background-color: rgb(152, 162, 255);
  color: rgb(13, 22, 97);
  color: rgb(233, 235, 252);
}

.green-button {
  border: 2px solid rgb(12, 145, 0);
  color: rgb(6, 58, 1);
  cursor: pointer;
}
.green-button:hover {
  background-color: rgb(240, 252, 239);
}

.red-button {
  border: 2px solid rgb(190, 0, 0);
  color: rgb(87, 1, 1);
  cursor: pointer;
}
.red-button:hover {
  background-color: rgb(253, 243, 243);
}

.trash-icon {
  color: rgb(190, 0, 0);
}

.edit-icon {
  color: rgb(12, 145, 0);
}

.icon-btn {
  background-color: white;
  border: 0px;
  cursor: pointer;
}
button {
  padding: 8px;
  margin: 10px;
  border-radius: 3px;
  font-size: medium;
}
