.ql-editor {
  min-height: 60vh;
}

.upper-inputs-wrapper {
  width: 100%;

  .upper-input {
    width: 100%;
    border: 1px solid #ccc;
    background: none;
    margin: 5px 0px;
    // margin: 20px 0;
  }

  .upper-input:last-of-type {
    margin: 5px 0px 0px 0px;
  }

  .upper-input::placeholder {
    font-style: italic;
    padding: 0 12px;
  }

  .title {
    font-size: 36px;
  }

  .text-area {
    // margin: 0 auto;
    resize: none;
  }
}
