@import "navbar";
@import "buttons";
@import "homepage";
@import "posts";
@import "post";
@import "footer";
@import "react-quill/dist/quill.snow.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(245, 243, 243);
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 150px;
}

.center {
  display: flex;
  justify-content: center;
}

.column-container {
  flex-direction: column;
  justify-content: bottom;
  text-align: center;
}

.top-margin {
  margin-top: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}
